name: Trigger auto deployment for contauth

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/contauth-AutoDeployTrigger-30e088a3-dbd8-42cb-a63d-d188e8e4d3b5.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CONTAUTH_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONTAUTH_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONTAUTH_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: appexpressacr.azurecr.io
          registryUsername: ${{ secrets.CONTAUTH_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONTAUTH_REGISTRY_PASSWORD }}
          containerAppName: contauth
          resourceGroup: OGFCan-1216-gayathri
          imageToBuild: appexpressacr.azurecr.io/contauth:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


